<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>
    <span>Film Download</span>
  </mat-toolbar>
  <div>
    <mat-form-field class="example-full-width">
      <input #searchInput  matInput placeholder="Film Seach" value="">
    </mat-form-field> 
    <button mat-fab color="primary" (click)="SearchFilm(searchInput.value)">Search</button>
  </div>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-progress-spinner style='margin:0 auto' *ngIf='loading' mode="indeterminate"></mat-progress-spinner>
  	<div *ngFor="let item of films" class='content'>
  		<app-result-item [item] = "item"> </app-result-item>
  	</div>
    <app-messages></app-messages>
  </mat-grid-list>
</div>