[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
sqlalchemy = "*"
"psycopg2-binary" = "*"
flask = "*"
marshmallow = "*"
flask-cors = "*"
"beautifulsoup4" = "*"

[dev-packages]

[requires]
python_version = "3.4"
